@import '@/styles/global.scss';
@import '@/styles/allVar.scss';
$tool-height: 42px;
$font-color: #000000e6;
$bg-color: var(--bg-color);

.api-editor{
    .top-tool{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 12px;
        height: 60px;
        line-height: 60px;
        background: #fff;
        color: #000000e6;
        box-shadow: inset 0 -1px 0 $bg-color;
        .left{
                @extend .nous;
                font-size: 1.5rem;
                font-weight: 500;
                letter-spacing: 2px;
                .text-con{
                    font-size: 12px;
                }
        }
        .right{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .user-avatar{
                margin-left: 12px;
                color: #fff;
                background-color: $main-color;
                font-size: 1.25rem;
                font-weight: 600;
                height: 36px;
                line-height: 36px;
                text-align: center;
                width: 36px;
                border-radius: 50%;
                @extend .nous;
            }
            .run-btn{
                margin-left: 12px;
                color: $font-color;
                background-color: $bg-color;
                height: 36px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 36px;
                border-radius: 50%;
                @extend .btn;
                i{
                    font-size: 1.8rem;
                }
            }
        }
    }
    
    .editor-body{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: calc(100vh - 62px);
        .left{
            width: 42%;
            min-width: 350px;
            height: 100%;
        }
        .right{
            width: 200px;
            flex: 1;
            height: 100%;
        }
    }
}